<configuration>

    <appender name="filter" class="com.example.springboot.appender.FilterAppender">
        <prefix>filterAppender</prefix>
    </appender>

    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>TraceId</includeMdcKeyName>
            <includeMdcKeyName>ParentSpanId</includeMdcKeyName>
            <includeMdcKeyName>SpanId</includeMdcKeyName>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <inlineHash>true</inlineHash>
                <maxLength>2048</maxLength>
                <exclusions>${STE_EXCLUSIONS}</exclusions>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="filter"/>
        <appender-ref ref="out"/>
    </root>

</configuration>